.description{
    margin: 0 auto;
    margin-top: 12em;
    width: 60%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    text-align: center;
    h1 {
        font-size: 48px;
        text-transform: uppercase;
        color: white;
        margin: 0;
    }
    p {
        color: white;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 8px 25px;
        border: 1.5px solid rgba(255, 255, 255, 0.7);
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; 
    }
    a:hover {
        background: rgba(209, 209, 209, 0.5);
        cursor: pointer; 
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
   
}
@media (max-width: 786px){  
    .description {
        width: 80%;
    }
}