.informace{
    width: 70%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: justify;
    margin: 100px 0;
    padding: 20px 40px;;
    background: rgba(59, 59, 59, 0.178);
    color: #fff;
}

// .informace h2{    
//     color: rgb(255, 255, 255);
// }
// .informace p{
//     color: rgb(255, 255, 255);
// }
#map {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 400px;
    background-color: grey;
}

@media only screen and (max-width: 786px) {
    #map {
        width: 100%;
        max-height: 300px;
    }
    .informace {
        padding: 20px;
        width: 80%;
    }
}