.background {
    background-color: $bg;
    width: 100%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 6em;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    // margin-top: -180px;
    .information {
        z-index: 2;
        width: 50%;
        p {
            color: $gray;
        }
        h2 {
            text-align: left;
            margin-top: 0;
            color: $dark;
        }
    }
    img {
        // border-radius: 7px;
        // box-shadow: 0 5px 30px -5px rgba(0,0,0,.4);
        margin: 0 2em;
    }
    .second-information {
        width: 100%;
        text-align: center;
        h2 {
            text-align: center;
        }
    }
}

.wrapper.second-wrapper {
    margin-top: 7em;
    margin-bottom: 5em;
    img {
        margin-left: 0;
    }
}
@media screen and (max-width: 786px) {
    .wrapper {
        flex-direction: column;
        .information{
            margin: 0 auto 1.5em auto;
            width: 90%;
        }
    }
    .wrapper.second-wrapper {
        flex-direction: column-reverse;
        img {
            margin: 0 auto;
        }
    }
}

#map {
    position: relative;
    margin: 1.5em auto;
    // height: 25em;
    // width: 45em;
    // background-color: grey;
    // border-radius: 7px;
    // box-shadow: 0 5px 30px -5px rgba(0,0,0,.4);
}

@media only screen and (max-width: 786px) {
    #map {
        width: 100%;
        max-height: 300px;
    }
}