.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 100;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 29em;
    height: auto;
    background-color: #fff;
    color: #495057;
    border-radius: 7px;
    padding: 1em 0 3.75em 0;
    position: relative;
    
    p {
        width: 60%;
        margin: 0 auto;
        // margin-left: 88px;
        font-size: 10px;
        text-align: left;
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
        font-weight: normal;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 32px;
    cursor: pointer;
}

form {
    width: 100%;
    text-align: center;
    opacity: 1;
}

input {
    width: 60%;
    display: block;
    margin: 1em auto;
    padding: 0.6em;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.checkbox {
    width: 60%;
    margin: 10px auto;
    // margin-top: 10px;
    // margin-left: 88px;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    input {
        margin: 0;
        width: auto;
    }
    label {
        font-size: .625em;
        margin-left: .313rem;
        padding: 0;
    }
}
.btn {
    margin-top: 1.25em;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(35, 136, 216);
    border: 1.5px solid rgb(35, 136, 216);
    border-radius: .25rem;
    padding: 5px 25px;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    background: rgb(1, 89, 161);
    border: 1.5px solid rgb(1, 89, 161);
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, input {
    overflow: visible;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen 
  and (max-device-width: 400px){
    .modal-content {
        input[type=text], input[type=email] {
            width: 70%;
        }
        p {
            width: 70%;
        }
        .checkbox {
            width: 70%;
        }
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .modal-content {
          width: 95%;
          height: 65%;
          h2 {
              margin-top: 20px;
          }
      }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
      .modal-content {
          width: 85%;
          height: 90vh;
          button {
              margin-top: 5px;
          }
      }
}