/*===Variables===*/

$green: #00833e;
$gray: #6c757d;
$dark: #343a40;
// $bg: #F5F6F7;
$bg: #f8f9fa;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import "mainNav.scss";
@import "header.scss";
@import "vysledky.scss";
@import "prihlaska.scss";
@import "info.scss";
@import "zadani.scss";
@import "foto.scss";
@import "footer.scss";
@import "loader.scss";

html.sr .load-hidden {
	visibility: hidden;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	line-height: 1.5;
	overflow-y: scroll;
}
/*Custom scrollbar*/
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

section{
	display: -webkit-box;
}

.wrapper{
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	justify-content: center;
}
@media screen and (max-width: 786px){
	.wrapper{
		margin: 0 auto;
	}
	#content{
		margin: 0;
	}
}

#content{
	margin: auto 4em;
	text-align: justify;
	display: flex;
	flex-direction: column;
}