/*===Variables===*/

$green: #00833e;
$gray: #6c757d;
$dark: #343a40;
$bg: #F5F6F7;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import "mainNav.scss";
@import "header.scss";
@import "zadani.scss";
@import "vysledky.scss";
@import "prihlaska.scss";
@import "info.scss";
@import "foto.scss";
@import "footer.scss";

html.sr .load-hidden {
	visibility: hidden;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	line-height: 1.5;
}

section{
	display: -webkit-box;
}

.wrapper{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}
@media screen and (max-width: 786px){
	.wrapper{
		margin: 0 auto;
	}
	#content{
		margin: 0;
	}
}

#content{
	margin: auto 4em;
	text-align: justify;
	display: flex;
	flex-direction: column;
}